// #LANGUAGE# C#
//HResult project = ss.ProjectOpen(@"C:\Source\Personal\Wi-Fi-Audio-Control\Sigma\Project.dspproj");

/*
byte[] readValues;    
 
// ---------- ICRegisterWrite API ---------                               
//ss.ICRegisterWrite( 40,_tableValues, 0, 112 ,0x001B, 2, 4, 0, 0);
 
// ---------- ICRegisterRead API ----------
ss.ICRegisterRead( 40, out readValues, 0, 112 ,0x001B, 2, 4, 0, 0);
 
// ---------- for loop for read values to print ---------- 
for(int i = 0; i < readValues.Length; i ++)
{
// Print the values byte by byte
ss.PrintLine(readValues[i].ToString()); 
}     
*/

//string paramName;
//ss.ICGetParamName("ADAU1401", 1, out paramName);
//ss.PrintLine(paramName);

//ss.ProjectLinkCompileDownload();
object obj = ss.GetCellObject("Mid EQ1");

ss.PrintLine(obj.ToString());


System.Reflection.FieldInfo[] memberInfos = ss.ObjectGetFields(obj);
System.Collections.ArrayList arr1 = null;
foreach (System.Reflection.FieldInfo memberInfo in memberInfos) 
{
	ss.PrintLine(memberInfo.Name);
	//if (memberInfo.Name == "controlarr")
	//{
	//    arr1  = (System.Collections.ArrayList)memberInfo.GetValue(obj);
	//	break;
	//}
}
//System.Reflection.PropertyInfo prop = ss.ObjectGetProperty(arr1[0], "LGain");

/* 
string pathSource = @"c:\temp\testdata.txt";
FileStream fsSource = new FileStream(pathSource, FileMode.Open, FileAccess.Read);
System.IO.StreamReader sr = new System.IO.StreamReader(fsSource, System.Text.Encoding.ASCII);
 
while (!sr.EndOfStream)
{
	string myString = sr.ReadLine();
        float fval = 0;
	float.TryParse(myString, out fval);
	prop.SetValue(arr1[0], (double) fval, null);
	System.Threading.Thread.Sleep(2000);
}
fsSource.Dispose();
*/
